@font-face {
  font-family: "Comfortaa";
  src: url("/fonts/Comfortaa-VariableFont_wght.ttf") format("ttf");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Poppins-Regular.ttf"), format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Poppins-SemiBold.ttf"), format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Poppins-Bold.ttf"), format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Poppins-Black.ttf"), format("ttf");
}
