@import url('./fonts.css');

:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
    --main-bg: #0e1630;
    --main-fg: #808dad;
    --main-brand: #ebbd43;
    --main-accent: #fe0289;
    --card-bg: #171f38;
    --card-button-bg: #2c3246;
    --font-main: "Quicksand", sans-serif;
    --font-logo: "Suez One", serif;
}

html {
    scroll-behavior: smooth;
    font-family: 'Geist';
    background: #13151a;
}

html, body {
   
    @apply h-screen;
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

.static-bg {
    background-image: url("/images/Static.png");
    @apply absolute h-full w-full opacity-5 sepia saturate-0;
}

.dots-bg {
    @apply absolute h-full w-full bg-[radial-gradient(#2c3246_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)];
}

.top-light-bg {
    @apply absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))];
}