@import url("./fonts.css");

:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
  --main-bg: #080d27;
  --main-fg: #808dad;
  --main-brand: #ebbd43;
  --main-accent: #fe0289;
  --card-bg: #171f38;
  --card-button-bg: #2c3246;
}

html {
  scroll-behavior: smooth;
  background: #13151a;
  @apply font-main;
}

html,
body {
  color: #c4cbf5;
  @apply h-screen bg-background-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

h1 {
  margin-bottom: 24px;
  font-size: 84px;
  font-weight: 900;
  line-height: 84px;
  letter-spacing: -0.03em;
  color: #eaedff;
  text-transform: uppercase;
}

h2 {
  max-width: 400px;
  margin-bottom: 26px;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.02em;
  color: #eaedff;
}

.overhead {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.3em;
  color: var(--main-brand);
  @apply font-heading text-[12px] uppercase;
}

.lead {
  margin-bottom: 44px;
  font-size: 22px;
  line-height: 36px;
}

.lead-1 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #eaedff;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

.important-section {
  position: relative;
  padding: 96px 0 120px;
  background: linear-gradient(#1b275a, #0e1434);
}
