---
import "@/styles/globals.css";

import { Image } from "astro:assets";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";

import samke from "../../public/images/samke.png";
import samirikerim from "../../public/images/samirikerim.png";
import team from "../../public/images/team.png";

import Button from "../components/Button.astro";
import FollowMeCard from "../components/FollowMeCard.astro";
import Marquee from "../components/Marquee.astro";
import Footer from "../components/Footer.astro";
import Download from "../components/icons/Download.astro";
import Mail from "../components/icons/Mail.astro";

import Particles from "@/components/ui/particles";
import { BentoCard, BentoGrid } from "@/components/ui/bento-grid";
import {
  BellIcon,
  Calendar,
  FileTextIcon,
  FormInputIcon,
  Globe,
} from "lucide-react";

const features = [
  {
    Icon: FileTextIcon,
    name: "Save your files",
    description: "We automatically save your files as you type.",
    href: "/",
    cta: "Learn more",
    background: "bg-slate-100",
    className: "lg:row-start-1 lg:row-end-4 lg:col-start-2 lg:col-end-3",
  },
  {
    Icon: FormInputIcon,
    name: "Full text search",
    description: "Search through all your files in one place.",
    href: "/",
    cta: "Learn more",
    background: "bg-slate-100",
    className: "lg:col-start-1 lg:col-end-2 lg:row-start-1 lg:row-end-3",
  },
  {
    Icon: Globe,
    name: "Multilingual",
    description: "Supports 100+ languages and counting.",
    href: "/",
    cta: "Learn more",
    background: "bg-slate-100",
    className: "lg:col-start-1 lg:col-end-2 lg:row-start-3 lg:row-end-4",
  },
  {
    Icon: Calendar,
    name: "Calendar",
    description: "Use the calendar to filter your files by date.",
    href: "/",
    cta: "Learn more",
    background: "bg-slate-100",
    className: "lg:col-start-3 lg:col-end-3 lg:row-start-1 lg:row-end-2",
  },
  {
    Icon: BellIcon,
    name: "Notifications",
    description:
      "Get notified when someone shares a file or mentions you in a comment.",
    href: "/",
    cta: "Learn more",
    background: "bg-slate-100",
    className: "lg:col-start-3 lg:col-end-3 lg:row-start-2 lg:row-end-4",
  },
];
---

<Layout title="Samir Kahvedzic - Senior Software Developer - Profile">
  <Nav />

  <section id="intro" class="pt-44 grid grid-cols-1 xl:grid-cols-2 container">
    <div class="glow">
      <Image
        width="865"
        height="810"
        src={samke}
        alt="profile"
        loading="eager"
      />
    </div>
    <div>
      <div class="mb-12 relative z-10">
        <div class="overhead">HELLO</div>
        <h1 class="text-gradient">I'm SAMIR<br /> KAHVEDZIC</h1>
        <p class="lead">Senior Software Developer</p>
      </div>
      <Card slick>
        <Marquee
          text={[
            "JavaScript",
            "TypeScript",
            "CSS",
            "TailwindCSS",
            "Accessibility",
            "React",
            "Angular",
          ]}
        />
      </Card>
      <div class="mt-6 flex items-center space-x-6 px-6">
        <Button>
          <Mail slot="icon" />
          Contact
        </Button>
        <Button>
          <Download slot="icon" />
          Download CV
        </Button>
      </div>
    </div>
  </section>

  <section class="-mt-12">
    <div class="container mx-auto">
      <FollowMeCard />
    </div>
    <div class="section-head col-span-full relative">
      <div class="absolute w-full h-full">
        <Particles client:load />
      </div>
      <div class="flex flex-col items-center">
        <div class="overhead">CURRENT ROLE</div>
        <h2>Frontend Tech Lead at OVRLAY Labs</h2>
      </div>
    </div>
    <div class="container mx-auto">
      <Card>
        <div class="grid grid-cols-1 xl:grid-cols-3 gap-12">
          <div>
            <div class="overhead">CURRENT WORK</div>
            <h2>Currently working on</h2>
            <p class="lead">
              Currently I’m working full time for WeOwn Market as frontend tech
              lead. I lead development of multiple web and mobile applications
              built on top of WeOwn Blockchain.
            </p>
          </div>
          <div>
            <div class="relative w-62">
              <Image
                src={team}
                alt="profile"
                loading="lazy"
                width="865"
                height="931"
              />
            </div>
            <div class="overhead">CURRENT WORK</div>
            <h2>Currently working on</h2>
            <p class="lead">
              Currently I’m working full time for WeOwn Market as frontend tech
              lead. I lead development of multiple web and mobile applications
              built on top of WeOwn Blockchain.
            </p>
          </div>
          <div>
            <div class="relative w-96">
              <Image
                src={samirikerim}
                alt="profile"
                loading="lazy"
                width="865"
                height="810"
              />
            </div>
            <div class="overhead">FREE TIME</div>
            <h2>When I have time</h2>
            <p class="lead">
              In my free time I’m working on my own projects, developing some of
              my ideas into full fledged products. Helping young people to learn
              coding by writing tutorials and promoting importance of coding in
              my comunity.
            </p>
            <p class="lead">
              I’m helping others in their work by releasing useful NPM packages
              and libraries.
            </p>
          </div>
        </div>
      </Card>
    </div>
  </section>

  <section>
    <div class="container mx-auto">
      <BentoGrid client:load className="lg:grid-rows-3">
        {features.map((feature) => <BentoCard {...feature} />)}
      </BentoGrid>
    </div>
  </section>

  <section>
    <div class="section-head-2">
      <div class="container mx-auto flex relative">
        <h2>How I grew as a developer ?</h2>
      </div>
    </div>
    <div class="section-learn"></div>
  </section>

  <section id="projects">
    <h1 class="text-gradient">Samir Kahvedzic</h1>
    <p class="instructions">
      Welcome to my online profile. Learn about me, my projects, experience,
      contact me.
    </p>
  </section>

  <section id="experience">
    <h1 class="text-gradient">Samir Kahvedzic</h1>
    <p class="instructions">
      Welcome to my online profile. Learn about me, my projects, experience,
      contact me.
    </p>
  </section>

  <section id="contact">
    <h1 class="text-gradient">Samir Kahvedzic</h1>
    <p class="instructions">
      Welcome to my online profile. Learn about me, my projects, experience,
      contact me.
    </p>
  </section>
  <Footer />
</Layout>
<style>
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  .glow {
    @apply relative;
  }

  .glow img {
    z-index: 2;
    @apply relative;
  }

  .glow:after {
    content: "";
    position: absolute;
    top: -250px;
    left: calc(50% - 400px);
    width: 520px;
    height: 520px;
    background: rgba(25, 89, 173, 1);
    filter: blur(200px);
    transform: translateZ(0);
  }

  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
    @apply text-white;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
