---
type CardProps = {
	variant?: 'base' | 'selected';
}

const { variant, ...rest }: CardProps = Astro.props;
---

<div class={`card ${variant === 'selected' ? 'selected' : ''}`} {...rest}>
    <slot />
</div>

<style>
	.card {
		flex: 1 0 300px;
        margin: 0 8px;
        padding: 22px;
        background: linear-gradient(#1b275a, #0e1434);
        border: 2px solid #334679;
        border-radius: 24px;
	}
	.card.selected {
		background: #080d27;
	}

</style>
                                                                        