---

---

<div class="card">
    <slot />
</div>

<style>
	.card {
		background-image: none;
		background-size: 400%;
		background-position: 100%;
		transition: background-position 1s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
        @apply flex bg-[#23262d] text-fg rounded-lg overflow-hidden;
	}

</style>
                                                                        