---
type InFocusProps = {
  variant?: "small" | "big";
  url?: string;
};

const { variant, url, ...rest }: InFocusProps = Astro.props;
---

<a
  class={`in-focus ${variant === "big" ? "big" : ""}`}
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  {...rest}
>
  <div class="z-[1]">
    <slot />
  </div>
</a>

<style>
  .in-focus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 84px;
    margin: 0 auto 12px;
    border: 2px solid #0c1838;
    border-radius: 50%;
    z-index: 2;
    @apply transition-all duration-300 ease-in-out;
  }

  .in-focus:hover {
    border: 2px solid #1959ad;
  }

  .in-focus:hover:after {
    background: #0c1838;
  }
  .in-focus:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background: linear-gradient(#253575, #162561);
    box-shadow:
      0 4px 4px rgba(0, 0, 0, 0.25),
      0 16px 24px rgba(0, 0, 0, 0.25),
      inset 0 3px 6px #1959ad;
    border-radius: 50%;
  }
</style>
