---
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
}

const { title, description = 'Official online profile. Learn about me, my projects, experience, contact me.' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="fixed h-full w-full bg-dark">
			<div class="dots-bg"></div>
			<div class="top-light-bg"></div>
			<div class="static-bg"></div>
		</div>
		<main class="relative">
			<slot />
		</main>
	</body>
</html>

